NET	"npc<0>"	LOC="U16"	|	IOSTANDARD=LVCMOS33	|	PULLDOWN	|	SLEW=SLOW	|	DRIVE=2;
NET	"immediate<0>"	LOC="V16"	|	IOSTANDARD=LVCMOS33	|	PULLDOWN	|	SLEW=SLOW	|	DRIVE=2;
NET	"IR<0>"	LOC="U15"	|	IOSTANDARD=LVCMOS33	|	PULLDOWN	|	SLEW=SLOW	|	DRIVE=2;
NET	"MEM_DATA<0>"	LOC="V15"	|	IOSTANDARD=LVCMOS33	|	PULLDOWN	|	SLEW=SLOW	|	DRIVE=2;
NET	"MDR_out<0>"	LOC="M11"	|	IOSTANDARD=LVCMOS33	|	PULLDOWN	|	SLEW=SLOW	|	DRIVE=2;

NET	"clk"	LOC="V10"	|IOSTANDARD=LVCMOS33;

Net clk TNM_NET = sys_clk;
TIMESPEC TS_Clk = PERIOD "clk" 100000 KHz;