
#led pins

NET	"led<0>"	LOC="U16"	|	IOSTANDARD=LVCMOS33	|	PULLDOWN	|	SLEW=SLOW	|	DRIVE=2;
NET	"led<1>"	LOC="V16"	|	IOSTANDARD=LVCMOS33	|	PULLDOWN	|	SLEW=SLOW	|	DRIVE=2;
NET	"led<2>"	LOC="U15"	|	IOSTANDARD=LVCMOS33	|	PULLDOWN	|	SLEW=SLOW	|	DRIVE=2;
NET	"led<3>"	LOC="V15"	|	IOSTANDARD=LVCMOS33	|	PULLDOWN	|	SLEW=SLOW	|	DRIVE=2;
NET	"led<4>"	LOC="M11"	|	IOSTANDARD=LVCMOS33	|	PULLDOWN	|	SLEW=SLOW	|	DRIVE=2;
NET	"led<5>"	LOC="N11"	|	IOSTANDARD=LVCMOS33	|	PULLDOWN	|	SLEW=SLOW	|	DRIVE=2;
NET	"led<6>"	LOC="R11"	|	IOSTANDARD=LVCMOS33	|	PULLDOWN	|	SLEW=SLOW	|	DRIVE=2;
NET	"led<7>"	LOC="T11"	|	IOSTANDARD=LVCMOS33	|	PULLDOWN	|	SLEW=SLOW	|	DRIVE=2;

#switch pins

NET	"switch<0>"	LOC="T10"	|	IOSTANDARD=LVCMOS25	|	SLEW=SLOW	|	DRIVE=2;
NET	"switch<1>"	LOC="T9"		|	IOSTANDARD=LVCMOS25	|	SLEW=SLOW	|	DRIVE=2;
NET	"switch<2>"	LOC="V9"		|	IOSTANDARD=LVCMOS25	|	SLEW=SLOW	|	DRIVE=2;
NET	"switch<3>"	LOC="M8"		|	IOSTANDARD=LVCMOS25	|	SLEW=SLOW	|	DRIVE=2;
NET	"switch<4>"	LOC="N8"		|	IOSTANDARD=LVCMOS25	|	SLEW=SLOW	|	DRIVE=2;
NET	"switch<5>"	LOC="U8"		|	IOSTANDARD=LVCMOS25	|	SLEW=SLOW	|	DRIVE=2;
NET	"switch<6>"	LOC="V8"		|	IOSTANDARD=LVCMOS25	|	SLEW=SLOW	|	DRIVE=2;
NET	"switch<7>"	LOC="T5"		|	IOSTANDARD=LVCMOS25	|	SLEW=SLOW	|	DRIVE=2;

#Reset pins

NET	"Rst"	LOC="B8"	|	IOSTANDARD=LVCMOS33;

#Clock pins

NET	"ClkIn"	LOC="V10"	|	IOSTANDARD=LVCMOS33;

Net ClkIn TNM_NET = sys_clk;
TIMESPEC TS_Clk = PERIOD sys_clk 100000 kHz;
